@charset "UTF-8";

@font-face { 
    font-family: Ancizar Sans-regular;             /* define una fuente */
    src: url('fonts/Ancizar Sans-Regular.otf');  /* indica su ubicación */
}
@font-face { 
    font-family: 'HARRYP__';            /* define una fuente */
    src: url('fonts/HARRYP__.TTF');       /* indica su ubicación */
}
@font-face { 
    font-family: 'RockfordSans-Light';         
    src: url('fonts/RockfordSans-Light.otf');       
}
body {      /* los estilos aplicados a una etiqueta valen para todos los casos */                                             
	background-color:#000000;                    
	background-image: url(imagenes/Hogwarts-background.jpg);
	background-repeat: repeat;
}
a {
	color: #ffffff; 
}
a:link {
	color: #ffffff;
	text-decoration:none; /* para que no subraye los vínculos */ 
}
a:hover {    /* indica el estilo cuando el cursor está sobre el elemento */ 
	color: #f1ed00;
}
.menunav {    /* cuando lleva un punto antes, el estilo aplica sobre etiquetas marcadas */ 
	width: 700px;  /* estilo para el menu de navegación */ 
	margin: auto;
	box-align: center;
}
.botonMenu {
	font-family: 'HARRYP__';  /* solo funciona si se suministra el archivo de la fuente */
	font-size: 25px;                 /* tamaño de la fuente */
	text-align: center;
	width: 100px;                   /* Tamaño de los botones en conjunto */
	padding:15px 15px 20px 20px; 
	display: inline-block;          /* Elimina las márgenes de los botones */
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
	background: rgba(20, 20, 20, 0.486);
	transition-duration: 0.2s;
	border-radius: 30px;
}
.botonMenu:hover {	
	background-color:  #bb0101ad; 
}
h1{     /* estilo para los titulares */ 
	font-family: HARRYP__; /* la fuente se asigna según disponibilidad */
	color: #ffffff;
	font-size: 70px;
	font-weight: bold;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 1200px; /* ancho máximo del párrafo */
	margin:auto;          /* margen igual a izquierda y derecha */ 
	margin-top: 40px;
	margin-bottom: 40px;
} 
h1:link {
	color:#2222FF;
	cursor: pointer;
	text-decoration: none;  /* para que no subraye los vínculos en los titulares*/ 
}
h2 {
	font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
	color:#ffffffe0;
	font-size: 50px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 800px;
	margin:auto;
	padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}

h3 {
	font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
	color:#dddbdbbb;
	font-size: 45px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 800px;
	margin:auto;
	padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}
.gryffindor {
	font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
	color:#ec4f05de;
	font-size: 45px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 800px;
	margin:auto;
	padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}
.ravenclaw {
	font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
	color:#053becf3;
	font-size: 45px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 800px;
	margin:auto;
	padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}
.hufflepuff {
	font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
	color:#cfd308ee;
	font-size: 45px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 800px;
	margin:auto;
	padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}
.slytherin {
	font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
	color:#159205e3;
	font-size: 45px;
	font-weight: normal;
	text-shadow: 1px 1px #000000;
	text-align: center;
	max-width: 800px;
	margin:auto;
	padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
}
.uno {
	position: relative;
	max-width:900px;
	top: 20px;
	margin:auto;                        /* margen igual a izquierda y derecha */
	font-family: 'RockfordSans-Light'; /* solo si se suministra el archivo de la fuente */
	font-size: 20px;                   /* Tamaño de la fuente */ 
	text-align: justify;
	color:#ffffff;
	text-shadow: 5px 5px 8px rgb(0, 0, 0);
}
.uno-up {
	position: relative;
	max-width:900px;
	top: 20px;
	margin:auto;                        /* margen igual a izquierda y derecha */
	font-family: 'RockfordSans-Light'; /* solo si se suministra el archivo de la fuente */
	font-size: 20px;                   /* Tamaño de la fuente */ 
	text-align: center;
	color:#ffffff;
	text-shadow: 5px 5px 8px rgb(0, 0, 0);
}
.acot {
	position: relative;
	max-width:600px;
	top: 40px;
	margin:auto;  /* margen igual a izquierda y derecha */
	font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;
}
.acot-inicio {
	position: relative;
	max-width:auto;
	top: 40px;
	margin:auto;  /* margen igual a izquierda y derecha */
	font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;
}
.dos {
	position: relative;
	max-width:800px;
	top: 20px;
	box-shadow: 15px 15px 5px 0 rgba(0, 0, 0, 0.5); /* r, g, b, alfa (transparencia) */
	margin:auto;
}

th {    /* estilo para los encabezados de la tabla */ 
	background-color: #00c573;
	color: #FFFF00;
	font-weight: normal;
	text-align: center;
	padding: 10px 6px 4px 10px;  /* arriba, derecha, abajo, izquierda */
	border-style:outset; /* borde bicelado */
	border-inline: 1px;
	border-color: #01e4d8;
}
td {       /* estilo para las celdas de la tabla */ 
	background-color: #3333FF;
	color: #DDDDFF;
	padding: 10px 18px 10px 10px;  
}
td:hover {
	color:#000000;
	text-shadow: 1px 1px #000000;	
}  
ul {        /* estilo para las listas */ 
	list-style-type: none;    /* quita los "bullit lists" de las listas  */ 
	margin: -2px 0px -2px -40px;  /* arriba, derecha, abajo, izquierda */
}
/* cuando la ventana mida menos de 860px */
@media only screen and (max-width: 860px) {
	body {      /* los estilos aplicados a una etiqueta valen para todos los casos */                                             
		background-color:#000000;                    
		background-image: url(imagenes/Hogwarts-background.jpg);
		background-repeat: repeat;
	}
	a {
		color: #ffffff; 
	}
	a:link {
		color: #ffffff;
		text-decoration:none; /* para que no subraye los vínculos */ 
	}
	a:hover {    /* indica el estilo cuando el cursor está sobre el elemento */ 
		color: #f1ed00;
	}
	.menunav {    /* cuando lleva un punto antes, el estilo aplica sobre etiquetas marcadas */ 
		width: 700px;  /* estilo para el menu de navegación */ 
		margin: auto;
		box-align: center;
	}
	.botonMenu {
		font-family: 'HARRYP__';  /* solo funciona si se suministra el archivo de la fuente */
		font-size: 25px;                 /* tamaño de la fuente */
		text-align: center;
		width: 100px;                   /* Tamaño de los botones en conjunto */
		padding:15px 15px 20px 20px; 
		display: inline-block;          /* Elimina las márgenes de los botones */
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
		background: rgba(20, 20, 20, 0.486);
		transition-duration: 0.2s;
		border-radius: 30px;
	}
	.botonMenu:hover {	
		background-color:  #bb0101ad; 
	}
	h1{     /* estilo para los titulares */ 
		font-family: HARRYP__; /* la fuente se asigna según disponibilidad */
		color: #ffffff;
		font-size: 70px;
		font-weight: bold;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 1200px; /* ancho máximo del párrafo */
		margin:auto;          /* margen igual a izquierda y derecha */ 
		margin-top: 40px;
		margin-bottom: 40px;
	} 
	h1:link {
		color:#2222FF;
		cursor: pointer;
		text-decoration: none;  /* para que no subraye los vínculos en los titulares*/ 
	}
	h2 {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#ffffffe0;
		font-size: 50px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	
	h3 {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#dddbdbbb;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.gryffindor {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#ec4f05de;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.ravenclaw {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#053becf3;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.hufflepuff {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#cfd308ee;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.slytherin {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#159205e3;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.uno {
		position: relative;
		max-width:900px;
		top: 20px;
		margin:auto;                        /* margen igual a izquierda y derecha */
		font-family: 'RockfordSans-Light'; /* solo si se suministra el archivo de la fuente */
		font-size: 20px;                   /* Tamaño de la fuente */ 
		text-align: justify;
		color:#ffffff;
		text-shadow: 5px 5px 8px rgb(0, 0, 0);
	}
	.uno-up {
		position: relative;
		max-width:900px;
		top: 20px;
		margin:auto;                        /* margen igual a izquierda y derecha */
		font-family: 'RockfordSans-Light'; /* solo si se suministra el archivo de la fuente */
		font-size: 20px;                   /* Tamaño de la fuente */ 
		text-align: center;
		color:#ffffff;
		text-shadow: 5px 5px 8px rgb(0, 0, 0);
	}
	.acot {
		position: relative;
		max-width:600px;
		top: 40px;
		margin:auto;  /* margen igual a izquierda y derecha */
		font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
		font-size: 12px;
		font-weight: normal;
		text-align: center;
		color:#FFFFFF;
		text-shadow: 1px 1px #000000;
	}
	.acot-inicio {
		position: relative;
		max-width:auto;
		top: 40px;
		margin:auto;  /* margen igual a izquierda y derecha */
		font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
		font-size: 12px;
		font-weight: normal;
		text-align: center;
		color:#FFFFFF;
		text-shadow: 1px 1px #000000;
	}

	.dos {
		position: relative;
		max-width:800px;
		top: 20px;
		box-shadow: 15px 15px 5px 0 rgba(0, 0, 0, 0.5); /* r, g, b, alfa (transparencia) */
		margin:auto;
	}
	
	th {    /* estilo para los encabezados de la tabla */ 
		background-color: #00c573;
		color: #FFFF00;
		font-weight: normal;
		text-align: center;
		padding: 10px 6px 4px 10px;  /* arriba, derecha, abajo, izquierda */
		border-style:outset; /* borde bicelado */
		border-inline: 1px;
		border-color: #01e4d8;
	}
	td {       /* estilo para las celdas de la tabla */ 
		background-color: #3333FF;
		color: #DDDDFF;
		padding: 10px 18px 10px 10px;  
	}
	td:hover {
		color:#000000;
		text-shadow: 1px 1px #000000;	
	}  
	ul {        /* estilo para las listas */ 
		list-style-type: none;    /* quita los "bullit lists" de las listas  */ 
		margin: -2px 0px -2px -40px;  /* arriba, derecha, abajo, izquierda */
	}
}
/* cuando la ventana mida menos de 640px */
@media only screen and (max-width: 640px) {
	body {      /* los estilos aplicados a una etiqueta valen para todos los casos */                                             
		background-color:#000000;                    
		background-image: url(imagenes/Hogwarts-background.jpg);
		background-repeat: repeat;
	}
	a {
		color: #ffffff; 
	}
	a:link {
		color: #ffffff;
		text-decoration:none; /* para que no subraye los vínculos */ 
	}
	a:hover {    /* indica el estilo cuando el cursor está sobre el elemento */ 
		color: #f1ed00;
	}
	.menunav {    /* cuando lleva un punto antes, el estilo aplica sobre etiquetas marcadas */ 
		width: 700px;  /* estilo para el menu de navegación */ 
		margin: auto;
		box-align: center;
	}
	.botonMenu {
		font-family: 'HARRYP__';  /* solo funciona si se suministra el archivo de la fuente */
		font-size: 25px;                 /* tamaño de la fuente */
		text-align: center;
		width: 100px;                   /* Tamaño de los botones en conjunto */
		padding:15px 15px 20px 20px; 
		display: inline-block;          /* Elimina las márgenes de los botones */
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(51, 51, 51, 0.19);
		background: rgba(20, 20, 20, 0.486);
		transition-duration: 0.2s;
		border-radius: 30px;
	}
	.botonMenu:hover {	
		background-color:  #bb0101ad; 
	}
	h1{     /* estilo para los titulares */ 
		font-family: HARRYP__; /* la fuente se asigna según disponibilidad */
		color: #ffffff;
		font-size: 70px;
		font-weight: bold;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 1200px; /* ancho máximo del párrafo */
		margin:auto;          /* margen igual a izquierda y derecha */ 
		margin-top: 40px;
		margin-bottom: 40px;
	} 
	h1:link {
		color:#2222FF;
		cursor: pointer;
		text-decoration: none;  /* para que no subraye los vínculos en los titulares*/ 
	}
	h2 {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#ffffffe0;
		font-size: 50px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	
	h3 {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#dddbdbbb;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.gryffindor {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#ec4f05de;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.ravenclaw {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#053becf3;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.hufflepuff {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#cfd308ee;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.slytherin {
		font-family: HARRYP__;  /* solo si se suministra el archivo de la fuente */
		color:#159205e3;
		font-size: 45px;
		font-weight: normal;
		text-shadow: 1px 1px #000000;
		text-align: center;
		max-width: 800px;
		margin:auto;
		padding:44px 10px 2px 10px;  /* arriba, derecha, abajo, izquierda */
	}
	.uno {
		position: relative;
		max-width:900px;
		top: 20px;
		margin:auto;                        /* margen igual a izquierda y derecha */
		font-family: 'RockfordSans-Light'; /* solo si se suministra el archivo de la fuente */
		font-size: 20px;                   /* Tamaño de la fuente */ 
		text-align: justify;
		color:#ffffff;
		text-shadow: 5px 5px 8px rgb(0, 0, 0);
	}
	.uno-up {
		position: relative;
		max-width:900px;
		top: 20px;
		margin:auto;                        /* margen igual a izquierda y derecha */
		font-family: 'RockfordSans-Light'; /* solo si se suministra el archivo de la fuente */
		font-size: 20px;                   /* Tamaño de la fuente */ 
		text-align: center;
		color:#ffffff;
		text-shadow: 5px 5px 8px rgb(0, 0, 0);
	}
	.acot {
		position: relative;
		max-width:600px;
		top: 40px;
		margin:auto;  /* margen igual a izquierda y derecha */
		font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
		font-size: 12px;
		font-weight: normal;
		text-align: center;
		color:#FFFFFF;
		text-shadow: 1px 1px #000000;
	}
	.acot-inicio {
		position: relative;
		max-width:auto;
		top: 40px;
		margin:auto;  /* margen igual a izquierda y derecha */
		font-family: Ancizar Sans-regular;  /* solo si se suministra el archivo de la fuente */
		font-size: 12px;
		font-weight: normal;
		text-align: center;
		color:#FFFFFF;
		text-shadow: 1px 1px #000000;
	}
	.dos {
		position: relative;
		max-width:800px;
		top: 20px;
		box-shadow: 15px 15px 5px 0 rgba(0, 0, 0, 0.5); /* r, g, b, alfa (transparencia) */
		margin:auto;
	}
	
	th {    /* estilo para los encabezados de la tabla */ 
		background-color: #00c573;
		color: #FFFF00;
		font-weight: normal;
		text-align: center;
		padding: 10px 6px 4px 10px;  /* arriba, derecha, abajo, izquierda */
		border-style:outset; /* borde bicelado */
		border-inline: 1px;
		border-color: #01e4d8;
	}
	td {       /* estilo para las celdas de la tabla */ 
		background-color: #3333FF;
		color: #DDDDFF;
		padding: 10px 18px 10px 10px;  
	}
	td:hover {
		color:#000000;
		text-shadow: 1px 1px #000000;	
	}  
	ul {        /* estilo para las listas */ 
		list-style-type: none;    /* quita los "bullit lists" de las listas  */ 
		margin: -2px 0px -2px -40px;  /* arriba, derecha, abajo, izquierda */
	}
}
